 #preloader {
      position: fixed;
      top: 0; left: 0;
      width: 100vw; height: 100vh;
      background-color: #fff;
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    #preloader.hidden {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease;
    }

    #preloader img {
      width: 120px;
      margin-bottom: 1rem;
    }

    .cargando-text {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        animation: parpadeo 1.2s infinite ease-in-out;
    }

    @keyframes parpadeo {
        0%, 100% {opacity: 1;}
        50% {opacity: 0.3;}
    }
    
    #contenido {
      display: none;
    }

